<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
    <style>
        .d-none {
            display: none;
        }

        table td, table th {
            border: 1px black solid;
        }
    </style>
</head>
<body>
    <form>
        <label for="name">Nome:</label>
        <input required maxlength="150" type="text" id="name">
        <label for="email">Email:</label>
        <input required maxlength="150" type="email" id="email">
        <label for="contact">Telefone:</label>
        <input required maxlength="25" type="tel" id="contact">
        <label for="company">Empresa:</label>
        <input required maxlength="150" type="text" id="company">

        <button class="d-none" type="reset">Cancelar edição</button>
        <button disabled type="submit">Enviar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Empresa</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <script>
        var customerId = null;
        const form = document.querySelector('form');
        function checkValidity() {
            form.reportValidity();
            form.checkValidity() ?
                form.querySelector('button[type="submit"]').removeAttribute('disabled') :
                form.querySelector('button[type="submit"]').setAttribute('disabled', '');
         }

        form.querySelectorAll('input').forEach(item => {
            item.addEventListener('change', checkValidity)
        })
        form.querySelector('button[type="reset"]').addEventListener('click', () => {
            customerId = null;
            form.querySelector('button[type="reset"]').classList.add('d-none');
        });
        form.addEventListener('submit', async (evt) => {
            evt.preventDefault();
            if (!form.checkValidity()) {
                alert('Preencha corretamete as informações solicitadas');
                form.reportValidity();
                return;
            }
            const payload = JSON.stringify({
                name: form.querySelector('#name').value,
                email: form.querySelector('#email').value,
                contact: form.querySelector('#contact').value,
                company: form.querySelector('#company').value,
            });
            let endpoint = '/api/customer';
            let method = 'post';
            if (typeof customerId === 'number') {
                method = 'put';
                endpoint = `/api/customer/${customerId}`;
            }
            await fetch(endpoint, {
                method,
                body: payload,
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(async (response) => {
                    response = await response.json();
                    alert(response.message || 'Falha ao realizar operação');
                    updateCustomerListing();
            })
            .catch((response) => {
                alert('Falha ao realizar operação')
            }).finally(() => {
                customerId = null;
                form.reset();
                form.querySelector('button[type="reset"]').classList.add('d-none');
            });
        });

        function editCustomer(id) {
            customerId = Number(id);
            const row = document.querySelector(`#customer${id}`);
            form.querySelector('#name').value = row.querySelector('.name').innerText;
            form.querySelector('#email').value = row.querySelector('.email').innerText;
            form.querySelector('#contact').value = row.querySelector('.contact').innerText;
            form.querySelector('#company').value = row.querySelector('.company').innerText;
            form.querySelector('button[type="reset"]').classList.remove('d-none');
        }

        async function updateCustomerListing() {
            await fetch('/api/customer', {
                method: 'get'
            })
            .then(async (response) => {
                    response = await response.json();
                    if (response.content && response.content.length > 0) {
                        let tableRow = '';
                        for (let index = 0; index < response.content.length; index++) {
                            tableRow += /* html */`
                            <tr id="customer${response.content[index].id}">
                                <td class="name">${response.content[index].name}</td>
                                <td class="email">${response.content[index].email}</td>
                                <td class="contact">${response.content[index].contact}</td>
                                <td class="company">${response.content[index].company}</td>
                                <td onclick="editCustomer(${response.content[index].id})">Editar</td>
                            </tr>`;
                        }
                        document.querySelector('table tbody').innerHTML = tableRow;
                    }
                })
            .catch((response) => {
                alert('Falha ao recuperar informações')
            });
        }

        setInterval(updateCustomerListing, 20000);
        document.addEventListener("DOMContentLoaded", updateCustomerListing);
    </script>
</body>
</html>